@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    font-family: Roboto ,Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    /* height: 100vh;
    background: url('./mountain-sky-img.jpg') no-repeat;
    background-size: cover;
    background-position: center; */
}


body {
    /* height: 100vh; */
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1578241561880-0a1d5db3cb8a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-position: center;
    overflow: auto;
  }

  body > *, .input-form{
    margin: 50px auto
  }

h1{
    text-align: center;
}

.input-form{
    text-align: center;
}

#loc-input{
    border-radius: 20px;
}

.submit-btn{
    border-radius: 20px;
}

.temp{
    font-size: 3rem;
}

.weather-info-container{
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
}

.main-weather-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    width: 400px;
}

.location-container{
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
}

.weather-info-container, .input-form, .forecast-container, h1{
    background-color: rgba(0, 0, 0, 0.616);
    border-radius: 20px;
    color: white;
    padding: 20px;
    max-width: 60%;
}

.temp-icon-container{
    grid-row: 2/5;
    grid-column: 1/3;
}

.rain, .humidity, .wind{
    grid-column: 3;
}
.rain{
    grid-row: 1;
}
.humidity{
    grid-row: 2;
}
.wind{
    grid-row: 3;
}

.secondary-weather-container{
    display:grid;
    grid-template-rows: repeat(4, 1fr);
}

.forecast-container{
    min-height: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;

}

.forecast-day-container{
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 20px;
}

/* Toggle Temp Btns */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  form.input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.switch-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.switch{
    grid-column: 1/3;
    grid-row: 1/2;
}
.temp-F{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    margin: 0;
    color: black;
    pointer-events: none;


}

.temp-C{
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 1;
    margin: 0;
    color: black;
    pointer-events: none;


}

@media(max-width: 960px){
    .weather-info-container, .input-form, .forecast-container, h1{
        max-width: 80%;
    }
}

@media(max-width:688px){
    .main-weather-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        width: inherit;
    }

    .weather-info-container{
        display: grid;
        justify-content: inherit;
        align-items: center;
        justify-items: center;
    }
    .secondary-weather-container{
        grid-row: 1/2;
        grid-template-rows: repeat(2, 1fr);
        align-self: center;
        justify-items: center;
    }
}

@media(max-width:504px){
    form.input-form {
        display: grid;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
}

@media(max-width:320px){
    .weather-info-container, .input-form, .forecast-container, h1{
        max-width: 95%;
    }
}